services:
  pocketbase:
    build:
      context: ./apps/pocketbase
      dockerfile: Dockerfile
    container_name: pocketbase
    restart: unless-stopped
    ports:
      - '8090:8090'
    #  - '6060:6060' # pprof/metrics for debugging - do not expose to public internet
    volumes:
      - ./apps/pocketbase/pb_data:/pb_data
      - ./apps/pocketbase/pb_migrations:/pb_migrations
    env_file:
      - ./apps/web/.env
    healthcheck:
      test: wget --no-verbose --tries=1 --spider http://localhost:8090/api/health || exit 1
      interval: 30s
      timeout: 5s
      retries: 5
    logging:
      driver: 'json-file'
      options:
        max-file: '3'
        max-size: '10m'
  #cloudflare-tunnel:
  #  image: cloudflare/cloudflared:latest
  #  container_name: cloudflare-tunnel
  #  restart: unless-stopped
  #  command: tunnel run
  #  env_file:
  #    - ./apps/web/.env
  #  logging:
  #    driver: "json-file"
  #    options:
  #      max-file: "3"
  #      max-size: "10m"
